@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

.numHide::-webkit-outer-spin-button,
.numHide::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
